.output-result-outer {
    display: block;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
    background-color: #e8e8e8;
}

.output-result-element {

}

.command-result-outer {
    display: block;
}

.command-result-inner {
    margin-left: 4em;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
    color: #006800;
}

.command-result-link {
    display: none;
}

.command-result-outer:hover .command-result-link {
    display: inline;
}

.return-result {
    display: block;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
}

.exception-result {
    color: #ff0000;
}

.kap-input {
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
}

.keyboard td {
    padding: 0.2em 0.2em;
    text-align: center;
    border-radius: 0.2em;
    background: #e0e0e0;
}

.keyboard td span {
    padding: 0.2em 0.2em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-family: "Iosevka Fixed", monospace;
}

@font-face {
    font-family: "Iosevka Fixed";
    src: url(fonts/iosevka-fixed-regular.ttf);
}

.kapString {
    color: #146c14
}

.array2Table {
    border-collapse: collapse;
    z-index: 10;
}

table.array2Table > tbody > tr > td {
    border: 1px solid black;
    padding: 0.15em;
}

td.kapNumber {
    text-align: right;
}

.arrayTable-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.arrayTable-primary {
    display: inline-block;
    /*grid-area: 1/1;*/
    /*z-index: 10000;*/
    /*opacity: 100%;*/
    background: white;
    z-index: 10;
}

/*.arrayTable-secondary {*/
/*    display: block;*/
/*    position: absolute;*/
/*    !*grid-area: 1/1;*!*/
/*    background: #00ff0040;*/
/*}*/

.arrayTable-secondary > table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.arrayTable-secondary > table > tbody > tr > td {
    border: 1px solid black;
}

.overlay {
    position: relative;
    margin: 20px;
    display: inline-block;
    /*z-index: 30;*/
}

.arrayTable-secondary {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: grey;*/
    /*opacity: 50%;*/
    /*transition: opacity .3s ease;*/
}

.array2Table-secondary {
    position: absolute;
    height: 100%;
    width: 100%;
    /*top: 10px;*/
    /*left: 10px;*/
    border-collapse: collapse;
    /*z-index: -10;*/
    background: white;
    /*z-index: 10;*/
}

.table-offset0 {
    top: 10px;
    left: 10px;
    z-index: -10;
}

.table-offset1 {
    top: 20px;
    left: 20px;
    z-index: -20;
}

.table-offset2 {
    top: 30px;
    left: 30px;
    z-index: -30;
}

.table-offset3 {
    top: 40px;
    left: 40px;
    z-index: -40;
}

.output-chart {
    width: 600px;
}

.gui-frame {
    width: 400px;
    height: 400px;
}

/************************************************************************
/* Sidebar
 ************************************************************************/

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #b0ffb0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The sidebar links */
/*.sidebar a {*/
/*    padding: 8px 8px 8px 32px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*}*/

/* When you mouse over the navigation links, change their color */
/*.sidebar a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/* Position and style the close button (top right corner) */
.sidebar .close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

/* The button used to open the sidebar */
.open-button {
    font-size: 20px;
    cursor: pointer;
    /*background-color: #111;*/
    /*color: white;*/
    padding: 10px 15px;
    border: none;
}

.open-button:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {*/
/*    transition: margin-left .5s; !* If you want a transition effect *!*/
/*    padding: 20px;*/
/*}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}
