.output-result-outer {
    display: block;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
    background-color: #e8e8e8;
}

.output-result-element {

}

.command-result-outer {
    display: block;
}

.command-result-inner {
    margin-left: 4em;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
    color: #006800;
}

.command-result-link {
    display: none;
}

.command-result-outer:hover .command-result-link {
    display: inline;
}

.return-result {
    display: block;
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
    white-space: pre;
}

.exception-result {
    color: #ff0000;
}

.kap-input {
    font-family: "Iosevka Fixed", monospace;
    font-size: 18px;
}

.keyboard td {
    padding: 0.2em 0.2em;
    text-align: center;
    border-radius: 0.2em;
    background: #e0e0e0;
}

.keyboard td span {
    padding: 0.2em 0.2em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-family: "Iosevka Fixed", monospace;
}

@font-face {
    font-family: "Iosevka Fixed";
    src: url(fonts/iosevka-fixed-regular.ttf);
}
