.editcontent {
    -fx-font-family: "Iosevka Fixed";
    -fx-font-size: 14pt
}

.editcontent-error {
    -fx-fill: #ff0000;
}

.editcontent-prompt {
    -fx-font-weight: bold;
}

.editcontent-output {
    -fx-fill: #000000;
}

.editcontent-result {
    -fx-fill: #005000;
}

.editcontent-warninghighlight {
    -fx-fill: #b04040;
}

.kapresult {
    -fx-font-size: 14pt;
}

.kapresult-header {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
