.output-result-outer {
    display: block;
    font-family: monospace;
    white-space: pre;
    background-color: #e8e8e8;
}

.output-result-element {

}

.command-result {
    display: block;
    font-family: monospace;
    white-space: pre;
    text-indent: 4em;
}

.return-result {
    display: block;
    font-family: monospace;
    white-space: pre;
}

.exception-result {
    color: #ff0000;
}
